window {
    margin: 0px;
    border: 2px solid #5e81ac; /* ‼️ Blue border to match Hyprland defaults */
    background-color: #2e3440;
    font-family: "JetBrains Mono";
    font-size: 14px;
}

#input {
    margin: 5px;
    border: none;
    color: #eceff4;
    background-color: #3b4252;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #2e3440;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #2e3440;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #eceff4;
}

#entry:selected {
    background-color: #434c5e;
    border-radius: 5px;
    outline: none;
}
