[Desktop Entry]
Version=2.0
Name=ComfyUI Kiosk
Comment=Start ComfyUI in Kiosk Mode
# Uses a separate profile directory to keep it isolated
Exec=/usr/bin/chromium --kiosk --app=http://localhost:8188/ --user-data-dir=%h/.config/chromium-comfyui
Icon=io.github.comfyui-community.ComfyUI
Terminal=false
Type=Application
Categories=Graphics;Science;
StartupWMClass=comfyui-kiosk
